
._map {
  height: 100%;
  width: 100%;
}

.sendButton {
	color: #FFFFFF;
	background: #6868CD;
	width: 80%;
	margin: 17px 0;
	display: flex;
	justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
	height: 100%;

	.control {
		display: flex;
		flex-direction: column;
		height: 100%;
		flex: 0 0 auto;
		background: black;

    .dateControl {
      height: 30%;
      width: 100%;
      background: white;
			padding: 10px 25px;
			
			.time {
				$h-spacing: 8px;

				display: flex;
				margin: 0 (-$h-spacing);
				> * {
					width: auto !important;
					margin: 0 $h-spacing;
					flex: 0 0 120px;
				}
			}

    }

    .userControl {
      height: 70%;
      width: 100%;
      background: #2A2A2D;
    }
	}

	.map_control {
		display: felx;
		flex-direction: column;
		height: 100%;
    width: 100%;
		flex: 3;
		background: white;

		.map {
			height: 100%;
			width: 100%;
		}
	}
}
