
.raisedButton {
	bottom: 0;
	margin: 10px 120px;
	> :first-child{
		height: 20px !important;
		width: 140px !important;
		> :first-child{
			border: 1.2px #959292 solid;
			background: #F8F4F4;
		}
	}
}

.sendButton {
	margin: 10px 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
	height: 100%;

	.control {
		display: flex;
		height: 100%;
		width: 15%;

    .dateControl {
      height: 100%;
      width: 100%;
      background: white;
			padding: 10px 25px;
			> :first-child > :first-child {
				width: 20vmin !important;
				font-size: 14px !important;
			}
			
			.time {
				$h-spacing: 8px;
				> :first-child > :first-child {
					width: 20vmin !important;
					font-size: 14px !important;
				}
				display: flex;
				margin: 0 (-$h-spacing);
				> * {
					width: auto !important;
					margin: 0 $h-spacing;
					flex: 0 0 120px;
				}
			}
    }
	}

	.map_control {
		display: block;
		position: absolute;
		flex-direction: column;
		height: 100%;
    width: 100%;
		flex: 3;
		background: white;

		.map {
			height: 100%;
			width: 100%;
		}
	}
}
